.card-cont {
    display: flex;
    flex-flow: row wrap;
}

.card {
    background-color: red;
    width: 200px;
    border: 1px gray solid;
    margin: 20px;
    border-radius: 15px;
}

.card img {
    width: 193px;
    height: 180PX;
    margin: 2px;
    border-radius: 15px;
    background-color: white;
}

.link {
    text-decoration: none;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    background-color: #202020; 
    border-radius: 10px; 
}

.link:hover {
    transform: scale(1.1);
    color: whitesmoke;
}

.description-container {
    padding: 10px;
}


